/* -------------------------- :IMPORT STYLES; --------------------------  */

@import url('../var/var.css');

@font-face {
  font-family:'navbar';
  src: url(../../fonts/Poppins-Medium.ttf);
}

/* -------------------------- :IMPORTANT STYLES; -------------------------- */

*{box-sizing: border-box;}

body,header,main,footer,section,div{width:100%; height:auto;}

body,h1,h2,h3,h4,h5,h6,p,section,div{margin:0 ; padding:0;}

button,input{outline:none !important;}

ul,li{margin:0; padding:0; list-style: none;}

a{color:inherit; text-decoration:none !important; cursor: pointer;}

a:hover{color:inherit;}

body{width:100%;
    height:auto;
    background-color: var(--first);}

/* --------------------- :ALL STYLES; --------------------- */

/* START CONTAINERS */

.container_lg,
.container_md,
.container_sm,
.container_lgf,
.container_mdf,
.container_smf{width: 100%; 
              padding-left: 15px; 
              padding-right: 15px; 
              margin-left: auto;
              margin-right: auto; 
              height: auto; }

/* END CONTAINERS */

/* START HEADER */

/* start navbar  */
.section_navbar{width:100%; height:auto;}

.navbar{width:100%;
        height:70px;
        display: flex;
        align-items: center;
        justify-content: space-between;}

.navbar_left_logo a img{width:140px; height:45px;}

.navbar_left,.navbar_right{width: auto;}

.navbar_right ul li{display:inline-block; 
                    color: var(--w);
                    font-size:20px;
                    font-family: 'navbar'; 
                    transition: color 0.5s;}

.navbar_right ul li a { padding:10px 17px;}

.navbar_right ul li:last-child a{padding-right:10px;}

.navbar_right ul li:hover{color:var(--second);}

.navbar_left_control{display: none; 
                     width: auto;
                     height: auto;
                     padding:10px;
                     cursor: pointer;}

.line:first-child{margin-top:0px; height:3.2px;}

.line{width:30px;
      height:3px;
      background-color: black;
      margin-top:5px;
      border-radius:10px;
      transition: margin-top 0.5s;}

.for_navbar_control{margin-top:-3px;
                    transition: margin-top 0.5s;}

/* start navbar  */

/* start header face */

.section_header_face{width:100%; height:auto;}

.header_face_items{width:100%;
                   height:auto;
                   display: flex;
                   flex-direction: row;
                   align-items: center;}

.face_left_item,.face_right_item{padding-left:3.5%;}

.face_left_item{flex: 650px; min-width: 650px; height: 650px;}

.face_circle1{width:650px;
              height:650px;
              border-radius:50%;
              position: absolute;
              animation: circle1 3s linear infinite ;}

.face_circle2{width:520px;
              height:520px;
              border-radius:50%;
              position: absolute;
              margin-top:65px;
              margin-left: 65px;
              animation: circle2 3s linear infinite ;}


.face_circle3{width:450px;
              height:450px;
              border-radius:50%;
              position: absolute;
              margin-top:100px;
              margin-left:100px;
              animation: circle3 3s linear infinite;}

.face_circle4{width:400px;
              height:400px;
              background-color: var(--second);
              border-radius:50%;
              position: absolute;
              margin-top:125px;
              margin-left: 125px;
              display: flex;
              align-items: center;
              justify-content: center;}

.oneimg{position: absolute; margin-top:70px;}
.oneimg img{width:120px;}

@keyframes circle1{
  from{transform: scale(0.5); filter: blur(0px); border: 1px solid rgba(255,255,255,1);}
  to{transform: scale(1.1); filter: blur(1px); border: 5px solid rgba(255,255,255,0);}
}

@keyframes circle2{
  from{transform: scale(0.5); filter: blur(0px); border: 1px solid rgba(255,255,255,1);}
  to{transform: scale(1.1); filter: blur(1px); border: 5px solid rgba(255,255,255,0);}
}
@keyframes circle3{
  from{transform: scale(0.5); filter: blur(0px); border: 1px solid rgba(255,255,255,1);}
  to{transform: scale(1.1); filter: blur(1px); border: 5px solid rgba(255,255,255,0);}
}

.typer_slide{width:100%;}

.typer_slide .swiper-wrapper .swiper-slide a img{width:100%;}

.face_right_item{padding-left: 15%;}

.typer_text{height:60px;
            font-size:50px;
            padding-left:20%;
            font-family: 'navbar';}


.face_text{color: var(--w);
          font-family:'navbar';
          font-size:40px;
          text-align: right;
          line-height: normal;
          margin:20px 0px 40px 0px;}

.sign_up_coursebtn{text-align: right;}

.sign_up_coursebtn button{padding:8px 40px;
                          font-family: 'navbar';
                          font-size:20px;
                          border-radius:15px;
                          border:1px solid white;
                          background-color: white;
                          cursor: pointer;
                          transition: background-color 0.5s;
                          transition: color 0.5s;}

.sign_up_coursebtn button:hover{background-color: transparent;    
                                color: var(--second);
                                border:1px solid var(--second);
                                box-sizing: border-box;}


.sign_up_course_btn_mobile button{padding:8px 0px;
                                  font-family: 'navbar';
                                  display: none;
                                  margin: 20px auto 15px auto;
                                  font-size:20px;
                                  border-radius:15px;
                                  border:1px solid white;
                                  background-color: white;
                                  cursor: pointer;
                                  transition: background-color 0.5s;
                                  transition: color 0.5s;}

.sign_up_course_btn_mobile button:hover{background-color: transparent;    
                                color: var(--second);
                                border:1px solid var(--second);
                                box-sizing: border-box;}

/* end  header face */

/* END HEADER  */

/* START MAIN  */



/* END MAIN  */

/* --------------------- :MEDIAS MAX-WIDTH; --------------------- */

@media(max-width: 1300px){
  .navbar_right ul li{font-size:18px;}
  .navbar_right ul li a{padding:5px 12px;}
  .face_left_item{flex:600px; min-width:600px; height:600px;}
  /* .navbar{height:60px;} */
  .face_circle1{width:580px;
                height:580px;}
  .face_circle2{width:500px;
                height:500px;
                margin-top:40px;
                margin-left:40px;}
  .face_circle3{width:420px;
                height:420px;
                margin-left:80px;
                margin-top:80px;}
  .face_circle4{width:340px;
                height:340px;
                margin-left:120px;
                margin-top:120px;}
  .face_right_item{padding-left:10%;}
  .typer_text{padding-left: 0;}
  }

@media(max-width: 1200px){
  /* .navbar_left_logo a img{width:120px;
                          height:40px;} */
  .navbar_right ul li{font-size:17px;}
  .navbar_right ul li a{padding:5px 10px;}
  .face_left_item{flex:550px; min-width:550px; height:550px;}
  .face_circle1{width:520px;
                height:520px;}
  .face_circle2{width:450px;
                height:450px;
                margin-top:35px;
                margin-left:35px;}
  .face_circle3{width:390px;
                height:390px;
                margin-left:65px;
                margin-top:65px;}
  .face_circle4{width:350px;
                height:350px;
                margin-left:85px;
                margin-top:85px;}
  .oneimg{position: absolute; margin-top:50px;}
  .oneimg img{width:100px;}
  .typer_text{font-size:42px; height:50px; }
  .face_text{font-size:33px; margin:20px 0px 30px 0px;}
  .sign_up_coursebtn button{font-size:18px;}
  .face_right_item{padding-left:5%;}
}

@media(max-width: 992px){
  .navbar{display: inherit; 
          height: auto;}
  .navbar_left{height:70px; 
               display: flex; 
               justify-content: space-between;
               align-items: center;
               padding-left: 10px;
               padding-right: 10px;}
  .navbar_right ul li{display:block; 
                      border-radius: 15px;
                      padding-left:10px;
                      transition: background-color 0.5s;}
  .navbar_right ul li:hover{background-color: gray;}
  .navbar_right ul li a{display: block; 
                        width:100%; 
                        padding:10px 0px 11px 0px;}
  .navbar_left_control,.navbar_left_logo{width: auto;}
  .navbar_left_control{display:block;}
  .navbar_right{-moz-transition: height .5s;
                -ms-transition: height .5s;
                -o-transition: height .5s;
                -webkit-transition: height .5s;
                transition: height .5s;
                height: 0;
                overflow: hidden;}
  .header_face_items{flex-direction:column-reverse;}
  .sign_up_coursebtn{display: none;}
  .typer_text{font-size:40px; height:45px; }
  .face_text{font-size:30px;}
  .face_right_item{padding-left:50%;}
  .typer_text{padding-left:15%;}
  .face_left_item{flex:500px; max-width:500px; height:500px; padding: 0;}
  .sign_up_course_btn_mobile button{display: block; width:500px;}
}

@media(max-width: 768px){
  .navbar_left{padding-left: 0px;
              padding-right: 0px;}
  .face_right_item{padding-left:35%;}
  .typer_text{padding-left:5%;}
  .typer_text{margin: 10px 0px;}

  .face_left_item{flex:480px; min-width:480px; height:480px; margin-top:20px; margin-bottom:30px;}
  .face_circle1{width:480px;
                height:480px;}
  .face_circle2{width:420px;
                height:420px;
                margin-top:30px;
                margin-left:30px;}
  .face_circle3{width:370px;
                height:370px;
                margin-left:55px;
                margin-top:55px;}
  .face_circle4{width:320px;
                height:320px;
                margin-left:80px;
                margin-top:80px;}
  .oneimg{position: absolute; margin-top:70px;}
  .oneimg img{width:80px;}
  .sign_up_course_btn_mobile button{width:80%; }
}

@media(max-width: 576px){
  .typer_text{font-size:30px; height:35px; }
  .face_text{font-size:25px; margin: 0;}
  .face_left_item{transform: scale(0.72);}
  .face_right_item{padding-left:10%; margin-top:10px;}
  .typer_text{padding-left:10%;}
  .sign_up_course_btn_mobile button{width:100%; font-size:15px;margin:-50px auto 20px auto;}

}

@media(max-width: 400px){
 .face_left_item{flex:300px; min-width:300px; height:300px; transform: scale(1); padding-left: 7%;}
  .face_circle1{width:300px;
                height:300px;}
  .face_circle2{width:270px;
                height:270px;
                margin-top:15px;
                margin-left:15px;}
  .face_circle3{width:240px;
                height:240px;
                margin-left:30px;
                margin-top:30px;}
  .face_circle4{width:210px;
                height:210px;
                margin-left:45px;
                margin-top:45px;}
  .oneimg{position: absolute; margin-top:40px;}
  .oneimg img{width:50px;}
  .face_right_item{padding-left:0%;;}
  .typer_text{padding-left:10%;}
  .sign_up_course_btn_mobile button{width:100%; font-size:15px;margin:10px 0px 0px 0px;}
}

@media(max-width: 350px){
 .face_left_item{flex:270px; min-width:270px; height:270px; transform: scale(1); padding-left: 3%; overflow: hidden;}
  .face_circle1{width:270px;
                height:270px;}
  .face_circle2{width:250px;
                height:250px;
                margin-top:10px;
                margin-left:10px;}
  .face_circle3{width:230px;
                height:230px;
                margin-left:20px;
                margin-top:20px;}
  .face_circle4{width:210px;
                height:210px;
                margin-left:30px;
                margin-top:30px;}
  .oneimg{position: absolute; margin-top:15px;}
  
}

/* --------------------- :MEDIAS MIN-WIDTH; --------------------- */

@media (min-width:400px){
  .container_lgf{width:99%;}
  .container_mdf{width:96%;}
  .container_smf{width:92%;}
}

@media (min-width: 576px){
  .container_lg{max-width: 720px;}
  .container_md{max-width: 650px;}
  .container_sm{max-width: 540px;}
  .container_lgf{width:99%;}
  .container_mdf{width:95%;}
  .container_smf{width:91%;}
}
@media (min-width: 768px){
  .container_lg{max-width: 930px;}
  .container_md{max-width: 870px;}
  .container_sm{max-width: 720px;}
  .container_lgf{width:99%;}
  .container_mdf{width:95%;}
  .container_smf{width:90%;}
}
@media (min-width: 992px){
  .container_lg{max-width: 1110px;}
  .container_md{max-width: 1020px;}
  .container_sm{max-width: 940px;}
  .container_lgf{width:99%;}
  .container_mdf{width:94%;}
  .container_smf{width:89%;}
}
@media (min-width: 1200px){
  .container_lg{max-width: 1300px;}
  .container_md{max-width: 1200px;}
  .container_sm{max-width: 1040px;}
  .container_lgf{width:98%;}
  .container_mdf{width:93%;}
  .container_smf{width:88%;}
}

@media(min-width:1450px){
  .container_lg{max-width: 1450px;}
  .container_md{max-width: 1320px;}
  .container_sm{max-width: 1200px;}
  .container_lgf{width:97%;}
  .container_mdf{width:92%;}
  .container_smf{width:87%;}
}

@media(min-width:1650px){
  .container_lg{max-width: 1650px;}
  .container_md{max-width: 1500px;}
  .container_sm{max-width: 1320px;}
  .container_lgf{width:96%;}
  .container_mdf{width:91%;}
  .container_smf{width:86%;}
  .navbar{height:85px;}
  .navbar_left_logo a img{width:160px;
                          height:55px;}
  .navbar_right ul li{font-size:22px;}
  .navbar_right ul li a{padding:7px 20px;}
  .face_left_item{flex:700px; min-width:700px; height:700px;}
  .face_circle1{width:750px;
                height:750px;}
  .face_circle2{width:600px;
                height:600px;
                margin-top:75px;
                margin-left:75px;}
  .face_circle3{width:450px;
                height:450px;
                margin-left:150px;
                margin-top:150px;}
  .face_circle4{width:400px;
                height:400px;
                margin-left:175px;
                margin-top:175px;}
  .oneimg{position: absolute; margin-top:70px; }
  .oneimg img{width:180px;}
  .typer_text{font-size:60px; height:80px;}
  .face_text{font-size:50px;}
  .sign_up_coursebtn button{font-size:24px;}
  .face_right_item{padding-left:15%;}
}

@media(min-width:1900px){
  .container_lg{max-width: 1700px;}
  .container_md{max-width: 1600px;}
  .container_sm{max-width: 1420px;}
  .container_lgf{width:95%;}
  .container_mdf{width:90%;}
  .container_smf{width:85%;}
  .navbar{height:100px;}
  .navbar_left_logo a img{width:180px;
                          height:60px;}
  .navbar_right ul li{font-size:24px;}
  .navbar_right ul li a{padding:10px 23px;}
  .face_left_item{flex:800px; min-width:800px; height:800px;}
  .face_circle1{width:780px;
                height:780px;}
  .face_circle2{width:650px;
                height:650px;
                margin-top:65px;
                margin-left:65px;}
  .face_circle3{width:550px;
                height:550px;
                margin-left:115px;
                margin-top:115px;}
  .face_circle4{width:520px;
                height:520px;
                margin-left:130px;
                margin-top:130px;}
  .oneimg{position: absolute; margin-top:70px; }
  .oneimg img{width:180px;}

  .typer_text{font-size:80px; height:100px;}

  .face_text{font-size:60px;}

  .sign_up_coursebtn button{font-size:24px;}

  .face_right_item{padding-left:5%;}

}

/* STYLES FOR SCROLLBAR */

::-webkit-scrollbar{width:5px;}

::-webkit-scrollbar-track {
  background:#fff ; 
}
 
/* HANDLE */

::-webkit-scrollbar-thumb {
  background:#C1C1C1; 
}

/* HANDLE ON HOVER */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}