/* -------------------------- :IMPORTANT STYLES; -------------------------- */

*{box-sizing: border-box;}

body,header,main,footer,section,div{width:100%; height:auto;}

body,h1,h2,h3,h4,h5,h6,p,section,div{margin:0 ; padding:0;}

button,input{outline:none !important;}

ul,li{margin:0; padding:0; list-style: none;}

a{color:inherit; text-decoration:none !important; cursor: pointer;}

a:hover{color:inherit;}

/* --------------------- :ALL STYLES; --------------------- */


/* START CONTAINERS */

.container_lg,
.container_md,
.container_sm,
.container_lgf,
.container_mdf,
.container_smf{width: 100%; 
              padding-left: 15px; 
              padding-right: 15px; 
              margin-left: auto;
              margin-right: auto; 
              height: auto; 
              margin-top:10px;}

/* END CONTAINERS */

/* --------------------- :MEDIAS MAX-WIDTH; --------------------- */

@media(max-width: 1200px){}

@media(max-width: 992px){}

@media(max-width: 768px){}

@media(max-width: 576px){}

@media(max-width: 400px){}

/* --------------------- :MEDIAS MIN-WIDTH; --------------------- */

@media (min-width:400px){
  .container_lgf{width:99%;}
  .container_mdf{width:96%;}
  .container_smf{width:92%;}
}

@media (min-width: 576px){
  .container_lg{max-width: 720px;}
  .container_md{max-width: 650px;}
  .container_sm{max-width: 540px;}
  .container_lgf{width:99%;}
  .container_mdf{width:95%;}
  .container_smf{width:91%;}
}
@media (min-width: 768px){
  .container_lg{max-width: 960px;}
  .container_md{max-width: 880px;}
  .container_sm{max-width: 720px;}
  .container_lgf{width:99%;}
  .container_mdf{width:95%;}
  .container_smf{width:90%;}
}
@media (min-width: 992px){
  .container_lg{max-width: 1140px;}
  .container_md{max-width: 1050px;}
  .container_sm{max-width: 960px;}
  .container_lgf{width:99%;}
  .container_mdf{width:94%;}
  .container_smf{width:89%;}
}
@media (min-width: 1200px){
  .container_lg{max-width: 1760px;}
  .container_md{max-width: 1300px;}
  .container_sm{max-width: 1140px;}
  .container_lgf{width:98%;}
  .container_mdf{width:93%;}
  .container_smf{width:88%;}
}

@media(min-width:1450px){
  .container_lg{max-width: 1760px;}
  .container_md{max-width: 1470px;}
  .container_sm{max-width: 1320px;}
  .container_lgf{width:97%;}
  .container_mdf{width:92%;}
  .container_smf{width:87%;}
}

@media(min-width:1650px){
  .container_lg{max-width: 1760px;}
  .container_md{max-width: 1550px;}
  .container_sm{max-width: 1370px;}
  .container_lgf{width:96%;}
  .container_mdf{width:91%;}
  .container_smf{width:86%;}
}

@media(min-width:1900px){
  .container_lg{max-width: 1760px;}
  .container_md{max-width: 1600px;}
  .container_sm{max-width: 1420px;}
  .container_lgf{width:95%;}
  .container_mdf{width:90%;}
  .container_smf{width:85%;}
}

/* STYLES FOR SCROLLBAR */

::-webkit-scrollbar{width:5px;}

::-webkit-scrollbar-track {
  background:#fff ; 
}
 
/* HANDLE */

::-webkit-scrollbar-thumb {
  background:#C1C1C1; 
}

/* HANDLE ON HOVER */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}