body{
	background-color:#999999;
}

.section_navbar{
	width:100%;
	height:70px;
	background-color: #999999;
	transition-property: top;
	transition-duration: 0.8s;
	transition-timing-function: ease;
	z-index:2 !important;
}

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.navbar_left,.navbar_right{
	width: auto;
}

.robocode_logo a img{
	width:150px;
	margin-left:-5%;
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}

.robocode_logo a img:hover{
	transform: scale(1.1);
}

.navbar_right ul li{
	display: inline-block;
	color: white;
	font-family: robocode;
	font-size:20px;
	transition-property: color;
	transition-duration:0.5s;
	transition-timing-function: ease;
}

.navbar_right ul li a{
	padding:8px 12px;
}

.navbar_right ul li:hover{
	color:#34ff2f;
}

.navbar_control{
	display: none;
}

.line{
	width:100%;
	height:4px;
	border-radius:10px;
	background-color: black;
	position: absolute;
}

.line:nth-child(2){
	top:42.5%;
}

.line:nth-child(3){
	bottom:0;
}

.header_courses_container{
	display: flex;
	padding-left:6%;
	align-items: center;
}

.courses_left{
	width:44vw;
	height:44vw;
	position: relative;
}

.courses_right{
	width: calc( 100% - 44vw);
	padding-bottom:12%;
}

.course_number{
	position: absolute;
	width:100%;
	height:100%;
	padding-top:10%;
	z-index: 1;
}	

.course_number a img{
	width:22%;
	margin-left:-2.5%;
}

.course_border_circle{
	position: absolute;
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
}

.circle{
	border-radius: 50%;
	border: 1px solid white;
	transform: scale(0.6);
	transition-property: transform, opacity, border;
	transition-duration:1s;
	transition-timing-function: ease;
	animation-name: circle;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.border_circle1{
	width:100%;
	height:100%;
}


.border_circle2{
	width:85%;
	height:85%;
}

.border_circle3{
	width:72%;
	height:72%;
}

.border_circle4{
	width:63%;
	height:63%;
	border-radius: 50%;
	background-color:#34ff2f;
}

@keyframes circle{
	to{
		transform: scale(1.075);
		border:5px solid white;
		opacity: 0;
	}
}

@keyframes circle_mobile{
	to{
		transform: scale(1.2);
		border:5px solid white;
		opacity: 0;
	}
}

.course_typer .cursor{
	margin-left:-1.5%;
}

.course_typer{
	font-family: robocode;
	font-size:60px;
	width: 100%;
/* 	display: flex;
	justify-content: flex-end; */
	margin-bottom:1.5%;
}

.typer_under_text{
	font-family: robocode;
	font-size:50px;
	/* text-align: right; */
	color: #fff;
	line-height:60px;
	letter-spacing: 1.5px;
}

.typer_br{
	display: none;
}

.course_swiper{
	width:124%;
	height:124%;
	margin-left:-12%;
	margin-top:-12%;
}

.course_sliders{
	width:100%;
	height:100%;
}

.course_sliders a img{
	width:100%;
}

.typer_for_slide{
	display: none;
}

.course_btn{
	margin-top:-15%;
	display: flex;
	padding-left:6%;
}

.course_btn div a button{
	font-family: gilroy;
	font-size:20px;
	border: none;
	background-color: #fff;
	padding:10px 50px;
	border-radius:10px;
	font-weight: bolder;
	transition-property: background-color,border,color;
	transition: 0.5s ease;
	border:1px solid #fff;
}

.course_btn div a button:hover{
	border:1px solid #34FF2F;
	background-color: transparent;
	color:#34FF2F;
}

.course_btn div:first-child{
	width:44vw;
}

.course_btn div:last-child{
	width: calc( 100% - 44vw);
}

/* start main */

.section_lines{
	margin-top:80px;
	width: 100%;
	height:22.5vw;
	background-image: url(../../../images/mainpage/main/lines.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section_lines img{
	width:11.9%;
}

.section_lines p{
	font-family: robocode;
	color: white;
	font-size:60px;
	font-weight: bolder;
}


.course_blocks{
	width:100%;
	height:400px;
	border-radius:20px;
	margin-bottom:30px;
	transition-property: background-color,color;
	transition: 0.8s ease;
}

.course_blocks:last-child{
	margin-bottom: 0;
}

.course_blocks:nth-child(2n+1){
	background-color: #3D3D3D;
	color:#fff;
}

.course_blocks:nth-child(2n+0){
	background-color: #EEEEEE;
	color:#000;
}



/* sart max-1300 */
@media(max-width: 1300px){
	.navbar_right ul li{
		font-size:19px;
	}
	.navbar_right ul li a{
		padding:7px 10px;
	}
	.header_courses_container,.course_btn{
		padding-left:3%;
	}
	.course_number a img{
		margin-left: 0;
	}
	.course_typer{
		font-size:55px;
		margin-bottom: 0;
	}
	.typer_under_text{
		font-size:45px;
		line-height: 50px;
	}
	.courses_left{
		width:47vw;
		height:47vw;
	}
	.courses_right{
		width: calc( 100% - 47vw);
	}
	.course_btn div:first-child{
		width:47vw;
	}

	.course_btn div:last-child{
		width: calc( 100% - 47vw);
	}
}
/* end max-1300 */

/* start max-1200 */
@media(max-width: 1200px){
	.course_typer{
		font-size:50px;
	}
	.typer_under_text{
		font-size:40px;
		line-height: 45px;
	}
	.courses_left{
		width:50vw;
		height:50vw;
	}
	.courses_right{
		width: calc( 100% - 50vw);
	}
	.course_btn div:first-child{
		width:50vw;
	}

	.course_btn div:last-child{
		width: calc( 100% - 50vw);
	}
	.course_btn{
		margin-top:-18%;
	}
	.course_btn div a button{
		font-size:18px;
	}
	.section_lines p{
		font-size:50px;
	}
	.section_lines img{
		width:170px;
	}
}
/* end max-1200 */ 

/* start max-1100 */
@media(max-width: 1100px){
	.navbar{
		flex-direction: column;
		justify-content: inherit;
		align-items: inherit;
	}
	.section_navbar{
		border-bottom-right-radius:15px;
		border-bottom-left-radius:15px;
		height:auto;
	}
	.navbar_left,.navbar_right{
		width: 100%;
	}
	.navbar_left{
		height:80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.navbar_control,.robocode_logo{
		display: block;
		width: auto;
	}
	.navbar_control{
		width:40px;
		height:28px;
		position: relative;
		cursor: pointer;
	}
	.navbar_right ul{
		padding-bottom:17px;
	}
	.navbar_right ul li{
		display: block;
	}
	.navbar_right ul li a{
		display: block;
		padding:7px 0px;
		transition-property: background-color, padding-left;
		transition-duration: 0.5s;
		border-radius:10px;
	}
	.navbar_right ul li a:hover{
		background-color: rgba(0, 0, 0, 0.2);
		padding-left:14px;
	}
	.navbar_right{
	 			-moz-transition: height .5s;
                -ms-transition: height .5s;
                -o-transition: height .5s;
                -webkit-transition: height .5s;
                transition: height .5s;
                height: 0;
                overflow: hidden;}
    .header_courses_container{
    	flex-direction: column-reverse;
    	padding-left: 0;
    }

    .courses_left{
		width:60vw;
		height:60vw;
	}
	.courses_right{
		width:100%;
	}
	.typer_br{
		display: block;
	}
	.course_typer{
		font-size:40px;
		margin-top:3%;
	}
	.typer_under_text{
		font-size:40px;
		line-height:45px;
	}
	.courses_right{
		padding-bottom:0%;
	}
	.course_btn{
		margin-top:5%;
		padding-left: 0;
	}
	.course_btn div:first-child{
		display: none;
	}

	.course_btn div:last-child{
		width:100%;
		text-align: center;
	}
	.course_btn div a button{
		font-size:20px;
		width:500px;
		max-width:500px;
	}
	
}
/* end max-1100 */

/* start max-992 */
@media(max-width: 992px){
	.courses_left{
		width:70vw;
		height:70vw;
	}
}
/* end max-992 */

/* start max-768 */
@media(max-width: 768px){
	.courses_left{
		width:80vw;
		height:80vw;
	}
	.course_btn{
		margin-top:10%;
	}
	.section_lines p{
		margin-top:5px;
		font-size:30px;
	}
	.section_lines img{
		width:130px;
	}
	.section_lines{
		height:250px;
	}

}
/* end max-768 */

/* start max-668 */
@media(max-width: 668px){
	.courses_left{
		width:95vw;
		height:95vw;
	}
	.section_header_courses{
		width:100%;
		overflow: hidden;
	}
	.course_number a img{
		width:15%;
		margin-left:2.5%;
	}
}
/* end max-668 */
 
/* start max-576 */
@media(max-width: 576px){
	.course_typer{
		font-size:35px;
	}
	.typer_under_text{
		font-size:30px;
		line-height:35px;
	}
	.navbar_control{
		width:35px;
		height:21px;
	}
	.border_circle4{
		width:70%;
		height:70%;
	}
	.circle{
		animation-name: circle_mobile;
		animation-duration: 3s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
	.courses_left{
		margin-top:10%;
	}
	.course_btn{
		margin-top:15%;
	}
	.course_btn div a button{
		font-size:20px;
		width:100%;
		padding:8px 0px 6.5px 0px;
	}
	.section_lines{
		height:200px;
		margin-top:50px;
	}
}
/* end max-576 */

/* start max-400 */
@media(max-width: 400px){
	.course_typer{
		font-size:30px;
	}
	.typer_under_text{
		font-size:25px;
		line-height:30px;
	}
	.course_btn{
		margin-top:20%;
	}
	.course_btn div a button{
		font-size:18px;
	}
} 
/* end max-400 */

/* start max-320 */
@media(max-width: 320px){
	.navbar_left{
		height:70px;
	}
	.course_typer{
		font-size:25px;
	}
	.typer_under_text{
		font-size:20px;
		line-height:25px;
	}
	.course_btn div a button{
		font-size:16px;
	}
} 
/* end max-320 */

/* start min-400 */
@media(min-width:400px){}
/* end min-400 */

/* start min-576 */
@media(min-width: 576px){}
/* end min-576 */

/* start min-768 */
@media(min-width: 768px){}
/* end min-768 */

 /* start min 992px */
@media(min-width: 992px){}
/* end min 992px */

/* start min-1200 */
@media(min-width: 1200px){}
/* end min-1200 */

/* start min-1450 */
@media(min-width:1450px){}
/* end min-1450 */

/* start min-1650 */
@media(min-width:1650px){
	.section_navbar{
		height:85px;
	}
	.robocode_logo a img{
		width:175px;
	}
	.navbar_right ul li{
		font-size:22px;
	}
	.navbar_right ul li a{
		padding:10px 14px;
	}
	.course_typer{
		font-size:75px;
	}
	.typer_under_text{
		font-size:55px;
		line-height:70px;
	}
	.course_btn{
		margin-top:-17%;
	}
	.course_btn div a button{
		font-size:22px;
		padding:15px 50px;
	}
	.section_lines p{
		font-size:70px;
	}
}
/* end min-1650 */

/* start min-1900 */
@media(min-width:1900px){
	.section_navbar{
		height:100px;
	}
	.robocode_logo a img{
		width:190px;
	}
	.navbar_right ul li{
		font-size:24px;
	}
	.navbar_right ul li a{
		padding:12px 15px;
	}
	.course_typer{
		font-size:85px;
	}
	.typer_under_text{
		font-size:65px;
		line-height:80px;
	}
	.courses_right{
		padding-bottom:11%;
	}
	.course_btn{
		margin-top:-16%;
	}
	.course_btn div a button{
		font-size:24px;
		padding:15px 60px;
		border-radius:15px;
	}
	.section_lines p{
		font-size:80px;
	}
}
/* end min-1900 */