<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RobocodeUz</title>    

    <!-- <LINKS> -->

    <!-- swiper css 8.0 -->
    <link rel="stylesheet" href="../staticfiles/css/swiper.css"/>

    <!-- local css -->
    <link rel="stylesheet" type="text/css" href="../staticfiles/css/main.css">

    <!-- </LINKS> -->

</head>
<body>

	<!-- <SCRIPTS> -->

	<!-- swiper js 8.0 -->
	<script src="../staticfiles/js/swiper.js"></script>

	<!-- local js -->
	<script src="../staticfiles/js/main.js"></script>

	<!-- </SCRIPTS> -->

</body>
</html>